body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: sans-serif;
}

#counter {
    font-family: 'Stick No Bills', sans-serif;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 48px;
    letter-spacing: 8px;
    width: 230px;
}

#buttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 10px;
    top: 10px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}
button:hover {
    box-shadow: 0px 0px 7px 4px rgba(255, 255, 255, 0.64);
}

#canvas {
    background: black;
}

.input-group {
    display: flex;
    flex-direction: column;
}